@import "src/Shared/var";

.description {
  overflow-y: auto;
  max-height: 315px;

  &__container {
    height: 100%;
    margin-top: 28px;
  }

  @media( min-width: $mobileBreakpoint ) {
    max-height: calc(100% - 2.3rem); /* Decrease by height of heading */

    &__container {
      margin-top: 0;
    }
  }
}

